:root {
  --primary: #7569EE;
  --secondary: #282736;
  --text-secondary: #9B9B9B;
  --bg: #1B1929;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  background-color: rgb(250, 249, 244);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
  background-color: white;
  box-shadow: 1px 1px 2px rgb(226, 222, 223);
}



.secondary-txt {
  color: var(--text-secondary)
}

#top-navbar {
  width: 100%;
  height: 55px;
  background-color: #243238;
}
.navbar {
  width: 90%;
  height: 75px;
  display: flex;
  float: right;
  justify-content: space-between;
  align-items: center;
}
#logo {
  height: 51px;
  width: 191px;
}
.links {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  text-decoration: none;
  font-size: 16px;
  color: #151515;
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0;
  padding-bottom: 4px;
  border-bottom: solid 3px white;
  transition: 0.25s;
}
#home-link {
  border-bottom-color: #756aee;
}
/* #home-link, */
.nav-links:hover {
  border-bottom-color: #756aee;
}

/** ***************************************** */
/** Layout                                    */
/** ***************************************** */
.container, 
.row { 
  display: flex;
}

.col{
  flex-direction: column;
  flex: 1;
}

/** ***************************************** */
/** Text                                      */
/** ***************************************** */
ul{
  list-style-type: none;
}

.txt-caps{
  text-transform: uppercase;
}

/** ***************************************** */
/** Buttons                                   */
/** ***************************************** */
.btn{
  border: none;
}

.btn-primary{
  background-color: var(--primary);
  color: #fff;
}

/** ***************************************** */
/** Footer                                    */
/** ***************************************** */
footer, footer a {
  background-color: var(--bg);
  color: #ffffff;
}

footer h3 {
  color: var(--text-secondary)
}

.company-info--title{
  color: var(--primary);
  font-size: 1rem;
}

form>input.form-input,
form>textarea.form-input{
  background: var(--secondary);
  border: none;
  padding: 8px;
}